@model SlippingCards.Models.Cardset

@{
    ViewData["Title"] = "Create Cardset";
}

<div class="container">
    <h1>@Model.Name</h1>
        @foreach(var thisSection in Model.Sections)
        {
            <section>
                <h1 class="slipping-section-title">@thisSection.Title</h1>
                <div class="slipping-section-container">
                    @foreach (var card in thisSection.Cards)
                    {
                        <div class="slipping-card">
                            <div class="slipping-card-inner">
                                <div class="slipping-card-front">
                                    <div class="slipping-card-img">
                                        @card.Image
                                    </div>
                                    <div class="slipping-card-title">@card.Title</div>
                                </div>
                                <div class="slipping-card-back">
                                    <div class="slipping-card-text">@card.Text</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        }
</div>